<!-- this is other way to run test cases other from annotation (old)-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--suit contains multiple scenarios-->
<suite name="Suite1">
    <test name="TestNG">
        <classes>
            <!-- Run the whole class (TestNG)  -->
            <class name="Tests.TestNG"/>
        </classes>
    </test>

    <test name="TestCases">
        <classes>
            <class name="Tests.TestCases"/>
        </classes>
    </test>


</suite>
